.background-image-container {
    background: linear-gradient(
            rgba(0, 0, 0, 1),
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 1)
        ),
        url(https://assets.nflxext.com/ffe/siteui/vlv3/5523db5a-e2b2-497f-a88b-61f175c3dbad/91f8800e-5e5e-428d-a409-05e82dbd002f/GB-en-20230306-popsignuptwoweeks-perspective_alpha_website_small.jpg)
            no-repeat;
    background-position: center 44%;
    background-size: cover;
    width: 100%;
    @include fluidType(height, 320px, 2000px, 625px, 825px);
    border-bottom: 8px solid #222;

    .promo_banner {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        color: #222;
        font-size: 18px;
        padding: 20px 0;

        & button {
            background-color: #e50914;
            color: white;
            border: none;
            border-radius: 50px;
            padding: 5px 10px;
            font-weight: bold;
            margin-right: 20px;
        }

        & span {
            font-weight: bold;
        }

        & a {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 35px;
            text-decoration: none;
            color: #0071eb;
            font-weight: 500;
            font-size: 15px;
            font-weight: 600;
            letter-spacing: 0.5px;

            & svg {
                height: 25px;
                width: auto;
            }

            &:visited {
                border: 1px solid black;
            }
        }
    }

    .landingPageHero {
        @include fluidType(width, 320px, 2000px, 300px, 1830px);
        margin: 0 auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;

        .landingPageNav {
            width: 100%;
            min-height: 135px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .clone_acknowledgement{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                & img {
                    @include fluidType(width, 320px, 1440px, 90px, 190px);
                }

                & p {
                    font-size: 14px;
                    text-transform: uppercase;
                    letter-spacing: 7px;
                    color: #8c8c8c;
                }
            }

            & .loginBtn {
                display: flex;
                justify-content: center;
                align-items: center;
                @include fluidType(width, 320px, 1440px, 60px, 85px);
                @include fluidType(height, 320px, 1440px, 25px, 35px);
                background-color: #e50914;
                color: white;
                text-decoration: none;
                border-radius: 3px;
            }
        }

        .hero_content {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            @include fluidType(height, 320px, 2000px, 350px, 600px);
            text-align: center;

            & h1 {
                @include fluidType(font-size, 320px, 1440px, 28px, 64px);
                max-width: 700px;
            }

            & .supHeading {
                @include fluidType(font-size, 320px, 1440px, 18px, 26px);
                margin: 20px 0;
            }

            & .subHeading {
                font-size: 19px;
            }
        }

        .membership_fields {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 20px;

            @media screen and (min-width: 700px) {
                flex-direction: row;
            }

            & .register_input {
                @include fluidType(width, 320px, 2000px, 300px, 500px);
                @include fluidType(height, 320px, 2000px, 40px, 70px);
                @include fluidType(font-size, 320px, 2000px, 14px, 16px);
                padding-left: 10px;
                color: #8c8c8c;
            }

            & .register_button {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 10px;
                @include fluidType(width, 320px, 2000px, 130px, 245px);
                @include fluidType(height, 320px, 2000px, 40px, 70px);
                @include fluidType(font-size, 320px, 2000px, 16px, 30px);
                background-color: #e50914;
                color: white;
                border: none;

                & svg {
                    margin-left: 5px;
                }

                @media screen and (min-width: 700px) {
                    margin-top: 0;
                }
            }
        }

        sub {
            margin-top: 5px;
        }
    }
}
