.background-image-container {
    background: linear-gradient(
            rgba(0, 0, 0, 1),
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 1)
        ),
        url(https://assets.nflxext.com/ffe/siteui/vlv3/5523db5a-e2b2-497f-a88b-61f175c3dbad/91f8800e-5e5e-428d-a409-05e82dbd002f/GB-en-20230306-popsignuptwoweeks-perspective_alpha_website_small.jpg)
            no-repeat;
    background-position: center 44%;
    background-size: cover;
    width: 100%;
    height: 100vh;

    .landingPageHero {
        @include fluidType(width, 320px, 2000px, 300px, 1830px);
        height: inherit;
        margin: 0 auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;

        .landingPageNav {
            width: 100%;
            min-height: 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .clone_acknowledgement {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                & img {
                    @include fluidType(width, 320px, 1440px, 90px, 190px);
                }

                & p {
                    font-size: 14px;
                    text-transform: uppercase;
                    letter-spacing: 7px;
                    color: #8c8c8c;
                }
            }

            & .loginBtn {
                display: flex;
                justify-content: center;
                align-items: center;
                @include fluidType(width, 320px, 1440px, 60px, 85px);
                @include fluidType(height, 320px, 1440px, 25px, 35px);
                background-color: #e50914;
                color: white;
                text-decoration: none;
                border-radius: 3px;
            }
        }

        .hero_content {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
            width: 100%;
            height: 100%;
            text-align: center;

            & h1 {
                @include fluidType(font-size, 320px, 2000px, 28px, 64px);
                max-width: 800px;
            }

            & .supHeading {
                @include fluidType(font-size, 320px, 1440px, 18px, 26px);
                margin: 10px 0;
            }

            & .subHeading {
                font-size: 19px;
            }
        }

        .membership_fields {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 10px;

            @media screen and (min-width: 700px) {
                flex-direction: row;
            }

            & .register_input {
                @include fluidType(width, 320px, 2000px, 200px, 500px);
                @include fluidType(height, 320px, 2000px, 40px, 70px);
                @include fluidType(font-size, 320px, 2000px, 14px, 16px);
                padding-left: 10px;
                color: #8c8c8c;
                background-color: rgba(0, 0, 0, 0.7);
                border: 1px solid #8c8c8c;
                border-radius: 5px;

                
                @media screen and (min-width: 700px) {
                    margin-right: 10px;
                }
            }

            & .register_button {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 10px;
                @include fluidType(width, 320px, 2000px, 200px, 245px);
                @include fluidType(height, 320px, 2000px, 40px, 70px);
                @include fluidType(font-size, 320px, 2000px, 16px, 30px);
                background-color: #e50914;
                color: white;
                border: none;
                border-radius: 5px;
                cursor: pointer;

                & svg {
                    margin-left: 5px;
                }

                &:hover {
                    background-color: #f90814;
                }

                @media screen and (min-width: 700px) {
                    margin-top: 0;
                }
            }
        }

        .attribution {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            & img {
                @include fluidType(width, 320px, 1440px, 150px, 200px);
                margin-left: 5px;
            }
        }
    }
}
